@import "../variables";

.calculateosagoform-people-list-edit {
    margin-top: 10px;
    margin-bottom: 10px;

    .list-edit__item--template {
        display: none;
    }

    .list-edit__item {
        & > .list-edit__item-label {
            padding-bottom: 10px;
        }

        margin-bottom: 10px;
        border-left: 2px solid gray;
        padding-left: 10px;

        input {
            border: 2px solid $main-second-color;
            border-radius: 3px;
        }

        .control-label {
            margin-bottom: 4px;
        }

        .has-error {
            input {
                box-shadow: 0px 0px 5px 0px $danger-color;
                border: 2px solid $danger-color;
            }
        }
    }

    .list-edit__actions {
        .list-edit__btn-create {
            cursor: pointer;
        }
    }
}