@import "variables";

html {
  min-height: 100%;
  position: relative;
}

.btn {
  position: relative;
  border: 1px solid $btn-color;
  padding: 11px 30px 9px;
  width: fit-content;
  cursor: pointer;
  border-radius: 0px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $btn-color;
    transition: 300ms;
    z-index: -1;
  }

  &:hover {
    &::after {
      width: 0;
    }
  }
  span {
    text-transform: uppercase;
  }
}

ul {
  margin: 0 0 0 20px;

  li {
    &:after {
      left: -20px !important;
      content: "";
      position: absolute;
      top: 4px;
      width: 10px;
      height: 10px;
      background-color: #ffb942;
      transform: rotate(45deg);
    }
  }
}

header {
  .navbar {
    & > a {
      color: black;
      font-size: 17px;

      &:not(:last-of-type) {
        margin-right: 17px;
      }

      &:first-of-type {
        margin-left: 12px;
      }

      &:after {
        width: 0;
        height: 0;
        background: none;
      }

      &:hover {
        color: #007bff !important;
      }
    }
  }

  .menu {
    display: none;
    flex-direction: column;
    padding-bottom: 15px;

    a {
      color: white !important;
      font-size: 15px;

      &:after {
        width: 0;
        height: 0;
        background: none;
      }

      &:hover {
        color: #007bff !important;
      }
    }
  }

  &.sticky > .container > .header__wrap > .header__burger > img {
    transition: 500ms;
    width: 0;
  }
}

#cookies_info {
  position: sticky;
  height: 150px;
  width: 80%;
  bottom: 0;
  z-index: 100;
  background: rgba(12, 24, 36, 0.8);
  display: none;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  padding: 20px;
  font-size: 20px;
  color: $primary-color;

  & > .btnn {
    margin: 15px auto 0 auto;
  }
}

.slider {
    .swiper-button-next,
    .swiper-button-prev {
        outline: none;
        transition: 300ms;

        &:focus,
        &:hover {
            color: #ffb942;
        }
    }
}

.row {
  border-bottom: 2px solid #0c1824;
}
.aboutUs {
  border-bottom: none;
}

@media (max-width: 768px) {
  .aboutUs__slider > .swiper-wrapper > .swiper-slide {
    padding: 15px;
  }
}

@media (max-width: 1024px) {
  .header__burger img,
  .header__burger navbar {
    display: none;
  }
}

.modal-header {
  padding: 15px;
}