@import "variables";

.modal {
    color: black;

    .modal-content {
        border-radius: 0;
        border: none;

        & > .modal-header {
            border: none;
            border-radius: 0;
            padding: 30px 30px 20px;

            @each $header, $nameImg in $modal-headers {
                &.modal-#{$header}-header {
                    height: 192px;
                    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 100%), url(../css/images/#{$nameImg});
                    background-size: cover;
                    margin-bottom: 30px;
                    display: flex;
                    align-items: flex-end;

                    & > .modal-title {
                        position: relative;
                        bottom: -20px;
                        font-size: 30px;
                        color: #0c1824;
                    }
                }
            }

            & > .close {
                padding: 0;
                margin: 0;
                background-color: rgba(255, 255, 255, 0.7) !important;
                text-shadow: none;
                font-size: 27px;
            }
        }

        & > .modal-body {
            padding: 0 30px 30px;

            &.modal__card {
                padding: 0 30px 30px 30px;

                @media (max-width: 768px) {
                    padding: 0 15px 15px 15px;
                }
            }

            font-size: 15px;
            border: none;
            border-radius: 0;

            & > .btn-in-modal {
                margin: 40px auto 0 auto;

                @media (max-width: 768px) {
                    margin: 20px auto 0 auto;
                }
            }
        }
    }
}