$main-font: 'Roboto Condensed', sans-serif;
$font-size: 16px;

/*
$main-color: white;
$main-second-color: #dcd8dd;
$main-third-color: #b5b1b6;
$main-fourth-color: #5b5e60;
$main-blue: #24509c;

$text-color: black;

$primary-color: #ffffff;
$success-color: #48936e;
$warning-color: #c58336;
$danger-color: #f44336;
$default-color: #999999;

$link-color: $main-blue;
$link-hover-color: $main-third-color;
$link-hover-decoration: underline;
*/
